html,html{
    padding:0px;
    height: 100%;
    width: 100%;
    background-color:grey;
}
.pane{
    box-sizing:border-box;
    float:left;   
    height: 100%;
    border: 1px black solid;
    
}
#worlds{
    width: 50%;
    
}
#sentences{
    width: 50%;
}

.sentence{
    width: 100%;
}